body{
	font-family: Times New Roman;
	font-size: 24px;
	text-align: justify;
}

h1{
	color: darkgreen;
}

em {
  text-decoration: underline;
  font-style: normal; /* Quitar la cursiva heredada */
}

table, .lateral{
	background-color: lightyellow;
}

table, th, td {
  border: 1px solid black;
}

li{
	text-align: left;
}

/* Centra el contenedor <figure> horizontalmente */
figure {
  text-align: center; /* Alinea el contenido de texto y la imagen dentro del <figure> */
  margin: 0 auto; /* Centra el <figure> en el contenedor padre */
  display: block; /* Asegura que el <figure> es un bloque */
}
figcaption {
  display: inline-block; /* Permite el ajuste automático del ancho del <figcaption> según su contenido */
  max-width: 400px; /* Limita el ancho del <figcaption> */
}

.btn{
	cursor: pointer;
	border: 1px solid darkgreen;
	background-color: lightyellow;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
	margin: 10px;
	padding: 4px;
}

.lateral{
	box-sizing: border-box; /* el ancho y el alto del elemento incluirán el contenido, el padding y el border */
	width: max(8%, 200px); /* La función max da el valor mayor entre 8% y 200px */
	display: inline-block; /*El elemento se coloca en la misma línea que otros elementos en línea, en lugar de ocupar toda la anchura disponible. */
	position: fixed;
	padding-top: 10px;
	padding-left: 5px;
}

.principal{
	margin-left: max(10%, 220px);
}




